# Ignores python cache
__pycache__/

# Ignores input, temporary and output files
*.zip
*.xlsm
*.xlsx

# Ignores folder with files for comparations
comparations

# Ignores photoshop files
*.psd

# Ignores INI files
*.ini